
html, body {
	width: 100%;
	min-width: 1170px;
}

p {
	font-family: 'Lato-Regular', 'Times New Roman', Helvetica, sans-serif;
	font-size: 20px;
	line-height: 135%;
	color: #8c8f94;
}

h3 {
	font-family: 'VarelaRound', 'Times New Roman', Helvetica, sans-serif;
	font-size: 42px;
	line-height: 120%;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url(../fonts/lato-regular-webfont.woff2);
}

@font-face {
	font-family: 'VarelaRound';
	src: url(../fonts/varelaround-regular-webfont.woff2);
}

@font-face {
	font-family: 'Lato-Light';
	src: url(../fonts/lato-light-webfont.woff2);
}

@font-face {
	font-family: 'Lato-Bold';
	src: url(../fonts/lato-bold-webfont.woff2);
}

.header-menu {
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar {
	text-align: center;	
	padding-top: 23px;
}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
}

.navbar a {
	font-family: 'Lato-Regular', 'Times New Roman', Helvetica, sans-serif;
	color: #000;
	font-size: 16px;
}

.navbar_logo {
	display: inline-block;
	padding-top: 12px;
	padding-right: 50px;
}

.nav-left li {
	display: inline-block;
	padding: 8px 20px; 			
}

.nav-right li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.fa-bars {
	padding-right: 10px;
	padding-left: 0;
}

.fa-apple {
	padding-right: 12px;
}

.button-help a {
	color: #a4a5a6;
}

.button-apple {
	background: rgb(38, 125, 244);
	padding: 10px 20px 10px 20px;	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
}

.button-apple a {
	color: #fff;
	padding-right: 5px;
}

.section-banner {
	background: url(../images/background-section1.jpg) center no-repeat;
	background-size: cover;
	padding-bottom: 465px;
	overflow: hidden;
}

.banner {
	text-align: center;	
	width: 800px;
}

.iphone-banner {
	padding-top: 60px;
	margin-bottom: -820px;
	display: inline-block;
}

h1 { 
	padding-top: 215px;
	padding-bottom: 15px;	
	font-family: 'VarelaRound', 'Times New Roman', Helvetica, sans-serif;
	font-size: 62px;
}

.banner-text {
	padding-top: 30px;
	padding-bottom: 60px;
	font-family: 'Lato-Regular', 'Times New Roman', Helvetica, sans-serif;
	font-size: 20px;
	color: #a4a5a6;
	line-height: 130%;
}

.button-play {
	display: inline-block;
	padding: 15px 40px;
	border: 1px solid #dadcdf;
	font-family: 'Lato-Regular', 'Times New Roman', Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
}

.fa-play {
	padding-right: 12px;
}

.section-feature {
	padding-top: 125px;
}

.feature {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.feature-left {
	padding-right: 35px;
	padding-left: 35px;
}

.feature-right {
	padding-right: 30px;
	padding-left: 50px;	
}

.section-feature h2 {
	padding-top: 50px;
	padding-bottom: 48px;
	font-family: 'Lato-Light', 'Times New Roman', Helvetica, sans-serif;
	font-size: 26px;
}

.section-feature p {
	font-size: 18px;
}

.section-feature span {
	color: rgb(38, 125, 244);	
	font-size: 40px;
}

.iphone-features {
	padding-top: 250px;
}

.iphone-features-left {
	box-sizing: border-box;
	display: inline-block;
	width: 60%;
}

.iphone-features-right {
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	padding-top: 145px;
}

.iphone-features h3 {
	padding-right: 248px;
	padding-bottom: 80px;
}

.iphone-features-right a {
	font-family: 'Lato-Regular', 'Times New Roman', Helvetica, sans-serif;
	font-size: 16px;
}

.iphone-feature-img {
	margin-left: -320px;
}

.features-right-bottom-p {
	padding-bottom: 77px;
}

.button-blue {
	background: rgb(38, 125, 244);
	padding: 10px 20px 10px 20px;	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
}

.button-learn {
	padding: 10px 20px 10px 20px;	
	border: 1px solid #dadcdf;
	color: #000;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
}

.fa-arrow-right {
	padding-left: 47px;
}

.map-feature {
	padding-top: 230px;
	overflow: hidden;
}

.map-features-left {
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.world-map {
	padding-left: 80px;
}

.map-features-right {
	box-sizing: border-box;
	display: inline-block;
	width: 60%;
}

.map-feature h3 {
	padding-bottom: 70px;
}

.partners {
	padding-top: 70px;
	padding-bottom: 30px;
	font-family: 'Lato-Bold', 'Times New Roman', Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

.dropbox-Logo {
	padding-right: 15px;
}

.evernote-logo {
	padding-left: 15px;
}